body {
    margin: 0;
    padding: 0;
    background: #000;
    width: 100%;
    height: 100%;
    position: absolute;
}

.container {
    position: absolute;
    height: 1080px;
    width: 1920px;
    align-items: center;
}

video {
    position: absolute;
}


.countdown {
    height: 200px;
    position: absolute;
    top: 21%;
    left: 49.5%;
    width: 900px;
    margin-left: -450px;
    margin-top: -100px;
    text-align: center;
    z-index: 9999;
    /* background-color: aliceblue; */
}

span {
    color: white;
    font-size: 23em;

}

.day-remain {
    font-family: 'Aldrich';
}